@model TF_PSA.PL.Leilao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leilao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaDeLance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaDeLance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioResponsavel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioResponsavel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="SelecionaGanhador" asp-route-id="@Model.LeilaoId">Seleciona Ganhador | </a>
    <a asp-action="GetLeilaoItems" asp-route-id="@Model.LeilaoId">Itens | </a>
    @if(Model.CategoriaDeLance == TF_PSA.PL.TipoLance.Aberto) {
        <a asp-action="GetLeilaoLances" asp-route-id="@Model.LeilaoId">Lances | </a>
    }
    <a asp-action="Index">Back to List</a>
</div>
