@model IEnumerable<TF_PSA.PL.Leilao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-deck">
    @foreach (var item in Model) {
        <div class="w-25 card">
            <div class="card-body">
                <h4 class="card-title">Leilão @Html.DisplayFor(modelItem => item.LeilaoId) </h4>
                <h6 class="card-subtitle mb-2 text-muted">por @Html.DisplayFor(modelItem => item.IdUsuarioResponsavel) em @Html.DisplayFor(modelItem => item.DataInicio)</h6>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Categoria)
                    Até  @Html.DisplayFor(modelItem => item.DataFinal.Date)
                </p>
                <a asp-action="Details" asp-route-id="@item.LeilaoId">Detalhes</a>
            </div>
        </div>
    }
</div>

